@page "/"
@using Microsoft.EntityFrameworkCore
@using ToDoApp.Klassen
@using Radzen.Blazor
@using ToDoApp.Modal
@inject DialogService DialogService
@inject ApplicationDbContext DbContext
@inject Userclass Userclass

@if (!Userclass.isLoggedIn)
{
    ShowLoginModal();
}

<div class="board">
    <RadzenDropZoneContainer TItem="ToDoItem" Data="data"
                             ItemSelector="@ItemSelector"
                             ItemRender="@OnItemRender"
                             CanDrop="@CanDrop"
                             Drop="OnDrop">
        <ChildContent>
            <div class="left-container">
                <div style="position: relative;">
                    <RadzenDropZone Value="Status.NotStarted" class="column not-started" Style="flex: 1; gap: 1rem;">
                        <ChildContent>
                            <RadzenText Text="Offen" TextStyle="TextStyle.DisplayH6" Style="text-align:center;" />
                            @foreach (ToDoItem item in data.Where(i => i.Status == Status.NotStarted))
                            {
                                <RadzenCard Style="margin: 1rem; cursor: grab;" @key="item.Id" hidden="true">
                                    <div class="task-content">
                                        <strong>@item.Title</strong>
                                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@(args => EditItem(item))" Style="margin-left: 1rem;" />
                                    </div>
                                </RadzenCard>
                            }
                        </ChildContent>
                        <Footer>
                            <div style="position: absolute; bottom: 1em;">
                                <RadzenButton Text="Neuer Task" ButtonStyle="ButtonStyle.Secondary" Click="NewToDoItem" />
                            </div>
                        </Footer>
                    </RadzenDropZone>
                </div>
                <div>
                    <RadzenDropZone Value="Status.Started" class="column started" Style="flex: 1; gap: 1rem; min-width:fit-content;">
                        <RadzenText Text="Angefangen" TextStyle="TextStyle.DisplayH6" Style="text-align:center;" />
                        @foreach (ToDoItem item in data.Where(i => i.Status == Status.Started))
                        {
                            <RadzenCard Style="margin: 1rem; cursor: grab;" @key="item.Id" hidden="true">
                                <div class="task-content">
                                    <strong>@item.Title</strong>
                                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@(args => EditItem(item))" Style="margin-left: 1rem;" />
                                </div>
                            </RadzenCard>
                        }
                    </RadzenDropZone>
                </div>
            </div>

            <div class="right-container">
                <RadzenDropZone Value="Status.Completed" class="column completed" Style="flex: 1; gap: 1rem; min-width:fit-content;">
                    <RadzenText Text="Fertig" TextStyle="TextStyle.DisplayH6" Style="text-align:center;" />
                    @foreach (ToDoItem item in data.Where(i => i.Status == Status.Completed))
                    {
                        <RadzenCard Style="margin: 1rem; cursor: grab;" @key="item.Id" hidden="true">
                            <div class="task-content">
                                <strong>@item.Title</strong>
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@(args => EditItem(item))" Style="margin-left: 1rem;" />
                            </div>
                        </RadzenCard>
                    }
                </RadzenDropZone>

                <RadzenDropZone Value="Status.Deleted" class="column delete" Style="flex: 1; gap: 1rem; min-width:fit-content;">
                    <RadzenText Text="Zum Löschen hier hin ziehen" TextStyle="TextStyle.DisplayH6" Style="text-align:center;" />
                </RadzenDropZone>
            </div>
        </ChildContent>

        <Template>
            <div class="task-content">
                <strong>@context.Title</strong>
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Secondary" Click="@(args => EditItem(context))" Style="margin-left: 1rem;" />
            </div>
        </Template>

    </RadzenDropZoneContainer>
</div>

@code {
    IList<ToDoItem>? data;

    // Filter items by zone value
    Func<ToDoItem, RadzenDropZone<ToDoItem>, bool> ItemSelector = (item, zone) => item.Status == (Status)zone.Value && item.Status != Status.Deleted;

    Func<RadzenDropZoneItemEventArgs<ToDoItem>, bool> CanDrop = request =>
    {
        // Allow item drop only in the same zone, in "Deleted" zone or in the next/previous zone.
        return request.FromZone == request.ToZone || (Status)request.ToZone.Value == Status.Deleted ||
               Math.Abs((int)request.Item.Status - (int)request.ToZone.Value) == 1;
    };

    public async Task NewToDoItem()
    {
        ToDoItem newItem = new ToDoItem() { Owner = Userclass.Username };
        newItem.Title = "Neuer Task";
        var result = await DialogService.OpenAsync<ToDoItemModal>(newItem.Title,
               new Dictionary<string, object>() { { "ToDoItem", newItem } },
               new DialogOptions() { Width = "auto", Height = "auto", Resizable = true, Draggable = false, Style = "modal-background" });

        if (result == true)
        {
            data = await DbContext.ToDoItems.Where(dbData => dbData.Owner == Userclass.Username).ToListAsync();
        }

        StateHasChanged();
    }

    public async Task EditItem(ToDoItem item)
    {
        var result = await DialogService.OpenAsync<ToDoItemModal>(item.Title,
               new Dictionary<string, object>() { { "ToDoItem", item } },
               new DialogOptions() { Width = "auto", Height = "auto", Resizable = true, Draggable = false, Style = "modal-background" });

        if (result == true)
        {
            data = await DbContext.ToDoItems.Where(dbData => dbData.Owner == Userclass.Username).ToListAsync();
        }

        StateHasChanged();
    }

    public async Task ShowLoginModal()
    {
        var result = await DialogService.OpenAsync<LoginModal>("Anmeldung",
               new Dictionary<string, object>() { { "User", Userclass } },
               new DialogOptions() { Width = "auto", Height = "auto", Resizable = true, Draggable = false, Style = "modal-background" });

        StateHasChanged();
    }

    void OnItemRender(RadzenDropZoneItemRenderEventArgs<ToDoItem> args)
    {
        args.Attributes["class"] = "task";

        // Do not render item if deleted
        args.Visible = args.Item.Status != Status.Deleted;
    }

    async Task OnDrop(RadzenDropZoneItemEventArgs<ToDoItem> args)
    {
        if (args == null)
        {
            Console.WriteLine("Drop args is null");
            return;
        }

        if (args.FromZone != args.ToZone)
        {
            // update item zone
            args.Item.Status = (Status)args.ToZone.Value;
        }

        if (args.ToItem != null && args.ToItem != args.Item)
        {
            // reorder items in same zone or place the item at specific index in new zone
            data!.Remove(args.Item);
            data.Insert(data.IndexOf(args.ToItem), args.Item);
        }

        await DbContext.SaveChangesAsync();
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        data = GetDbItems();
    }

    private List<ToDoItem> GetDbItems()
    {
        List<ToDoItem> list = new();

        if (DbContext.ToDoItems.Any<ToDoItem>())
        {
            list = DbContext.ToDoItems.Where(dbData => dbData.Owner == Userclass.Username).ToList();
        }
        else
        {
            list = new List<ToDoItem>();
        }

        return list;
    }

    public enum Status
    {
        NotStarted,
        Started,
        Completed,
        Deleted
    }
}